<!doctype html>
<html>
<head>
  <title>Madlib</title>
  <link rel="stylesheet" href="/static/madlibs.css">

</head>
<body>

<h1>Here's Your Madlib:</h1>

<div>
    There once was a <strong>{{ noun }}</strong> named <strong>{{ person }}</strong>.
    <br></br>
    Might seem weird, but this <strong>{{ noun }}</strong> could talk and walk.
    And also, they are incredibly <strong>{{ adjective }}</strong>.
    <br>
    <strong>{{ person }}</strong> lived in <strong>{{ place }}</strong>,
    and was obsessed with eating <strong>{{ food }}</strong>.
    So obsessed that <strong>{{ person }}</strong> dyed their <strong>{{noun2}} {{ color }}</strong>.
</div>

</body>
</html>